/* Colors */
/* Fonts */
.header {
  max-width: 1230px;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 5em;
  padding-left: 2em;
  padding-right: 2em;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  max-width: 100%;
  min-height: 2em;
  max-height: 2em;
}
.header__nav a {
  color: #ebebeb;
  font-size: 1.1em;
  font-weight: 800;
  font-family: "Mulish", sans-serif;
  margin-right: 1.2em;
}
.header__nav a:hover::after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  background-color: #c1bbb3;
  position: absolute;
}
.header__nav a:first-child::after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  background-color: #ff970d;
  position: absolute;
}
.header__nav i {
  color: #ebebeb;
  width: 17px;
  height: 17px;
}

/* Colors */
/* Fonts */
.pinned-section {
  max-width: 1470px;
  margin: 0 auto;
  padding: 25px 19px 17px;
  display: grid;
  grid-template-areas: "card1 card1 card2 card3" "card1 card1 card4 card5";
  gap: 0.5em;
}
.pinned-section__card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pinned-section__card__text p {
  font-weight: 700;
}
.pinned-section article {
  color: #ebebeb;
  border-radius: 15px;
  padding: 40px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
  min-width: 150px;
}
.pinned-section button {
  border-radius: 25px;
  line-height: 1;
  letter-spacing: 2px;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 5px 7px 5px 9px;
  font-size: 8px;
  max-width: 65px;
}
.pinned-section article:hover {
  transform: translateY(-2%);
}
.pinned-section article:nth-child(1) {
  grid-area: card1;
  background-image: url("/img/pin1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
}
.pinned-section article:nth-child(1) h3 {
  font-family: "Corben", serif;
  font-size: 2em;
}
.pinned-section article:nth-child(2) {
  grid-area: card2;
  background-image: url(/img/pin2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(2, 19, 255, 0.747);
}
.pinned-section article:nth-child(2) h3 {
  font-family: "Corben", serif;
  font-size: 1em;
}
.pinned-section article:nth-child(3) {
  grid-area: card3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(250, 159, 106, 0.884);
}
.pinned-section article:nth-child(3) p {
  color: #252530;
}
.pinned-section article:nth-child(3) button {
  background-color: #252530;
  color: rgba(250, 159, 106, 0.884);
}
.pinned-section article:nth-child(3) h3 {
  font-family: "Corben", serif;
  font-size: 1em;
  color: #252530;
}
.pinned-section article:nth-child(4) {
  grid-area: card4;
  background-image: url(/img/pin4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgb(75, 6, 102);
}
.pinned-section article:nth-child(4) h3 {
  font-family: "Corben", serif;
  font-size: 1em;
}
.pinned-section article:nth-child(5) {
  grid-area: card5;
  background-image: url(/img/pin5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgb(255, 133, 245);
}
.pinned-section article:nth-child(5) p {
  color: #252530;
}
.pinned-section article:nth-child(5) button {
  background-color: #252530;
  color: rgb(255, 133, 245);
}
.pinned-section article:nth-child(5) h3 {
  font-family: "Corben", serif;
  font-size: 1em;
  color: #252530;
}

/* Colors */
/* Fonts */
/* Null style */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/
body {
  background-color: #252530;
}/*# sourceMappingURL=style.css.map */